#header {
    background-image: url("../images/IMG_3175.JPG");
    background-size: cover;    
 }

 #header_text {
    justify-content: 'center';
    align-items: 'center';

    color: white;
 }

 #header_h1 {
    text-align: center;
 }

 #header_h2 {
    text-align: center;
    
 }

 p {
    text-align: center;
    justify-content: 'center';
    align-items: 'center';
 }