#nav {
    padding: 0;
    background-color: #ffffff;
    margin-left: 18%;
}

#nav li {
    display: inline;
    padding-top: 150px;
    padding-right: 30px;
    padding-bottom: 150px;
    padding-left: 30px;
}

#nav li a {
        display: inline;
        text-decoration: none;
        font-weight: bold;
        align-items: center;

        /* From Figma: */      
        font-family: Alef;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
            
        color: #000000;
}