#nav {
    
    margin: 0 0 3em 0;
    padding: 0;
    background-color: #ffffff;
  
  
    /* From Figma; the placing of the NavBar*/
    position: absolute;
    left: 26.39%;
    right: 3.12%;
    top: 6.68%;
    bottom: 83.58%;
}

#nav li {
    display: inline;
    padding-top: 150px;
    padding-right: 30px;
    padding-bottom: 150px;
    padding-left: 30px;
}

#nav li a {
        display: inline;
        text-decoration: none;
        font-weight: bold;
        align-items: center;

        /* From Figma: */      
        font-family: Alef;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
            
        color: #000000;
}